---
name: arkime

services:
  arkime-capture:
    container_name: arkime-capture
    image: ghcr.io/arkime/arkime/arkime:v5-latest
    network_mode: host
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ulimits:
      memlock:
        soft: -1
        hard: -1
    environment:
      TZ: "${DEVICE_TIMEZONE}"
    volumes:
      - volume_arkime:/opt/arkime/raw
      - ./arkime/:/opt/arkime/etc
    command: /opt/arkime/bin/docker.sh capture --update-geo # --host=Intel-NUC11TNHv50L
  arkime-viewer:
    container_name: arkime-viewer
    image: ghcr.io/arkime/arkime/arkime:v5-latest
    network_mode: host
    restart: unless-stopped
    environment:
      TZ: "${DEVICE_TIMEZONE}"
    volumes:
      - volume_arkime:/opt/arkime/raw
      - ./arkime/:/opt/arkime/etc
    command: /opt/arkime/bin/docker.sh viewer

volumes:
  volume_arkime:
    external: true
