---
- name: 'GEOIPUPDATE : install tool'
  ansible.builtin.apt:
    name: geoipupdate
    update_cache: true
  become: true

- name: 'GEOIPUPDATE : create file'
  ansible.builtin.command:
    cmd: geoipupdate -v
  register: ok
  changed_when: '"Database does not exist" in ok.stderr'
  become: true
