# GENERAL
TZ='{{ lookup("pipe", "timedatectl show -p Timezone | awk -F= '{print $2}'") }}'

# CONTAINER SPECIFIC - https://arkime.com/settings
### Settings | Auth & Security Settings
ARKIME__authMode=anonymous
ARKIME__dropUser=root
ARKIME__dropGroup=daemon

### Capture/Viewer | OpenSearch/Elasticsearch Settings
ARKIME__elasticsearch=http://localhost:9200
ARKIME__rotateIndex=monthly
### Capture/Viewer | PCAP Storage Settings
ARKIME__pcapDir=/opt/arkime/raw
### Capture/Viewer | Capture Settings
ARKIME__geoLite2ASN=/opt/arkime/etc/geo/GeoLite2-ASN.mmdb
ARKIME__geoLite2Country=/opt/arkime/etc/geo/GeoLite2-City.mmdb
ARKIME__interface=enp88s0
ARKIME__ouiFile=/opt/arkime/etc/oui.txt
ARKIME__packetThreads=1
ARKIME__pcapReadMethod=tpacketv3
ARKIME__pcapWriteSize=65536
ARKIME__rirFile=/opt/arkime/etc/ipv4-address-space.csv
ARKIME__snapLen=32768
### Capture/Viewer | Viewer Settings
ARKIME__cronQueries=auto
ARKIME__queryAllIndices=true
ARKIME__spiViewCategoryOrder=http,quic,cert,dns,dhcp
ARKIME__turnOffGraphDays=32

### Readers/Writers | Writer - Simple - Settings
ARKIME__simpleCompression=none

ARKIME__tcpSaveTimeout=6000
ARKIME__tcpTimeout=6400
#ARKIME__udpTimeout=1500
