# GENERAL
TZ='{{ lookup("pipe", "timedatectl show -p Timezone | awk -F= '{print $2}'") }}'

# CONTAINER SPECIFIC
cluster.name=opensearch-cluster # Name the cluster
node.name=opensearch # Name the node that will run in this container
discovery.type=single-node
bootstrap.memory_lock=true # Disable JVM heap memory swapping
OPENSEARCH_JAVA_OPTS="-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
DISABLE_INSTALL_DEMO_CONFIG=true # Prevents execution of bundled demo script which installs demo certificates and security configurations to OpenSearch
DISABLE_SECURITY_PLUGIN=true # Disables Security plugin
